@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;padding: 0;scroll-behavior: smooth;box-sizing: border-box;font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.text-xsm{font-size: 12px;}

/* Set the style for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #333;
}

/* Set the style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #f3f3f3;
  border-radius: 40px;

}

/* Set the style for the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #333;
    border-radius: 40px;

}
/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  